* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.image-item{
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.image-item img{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  
}

.image-item:hover img {
  transform: scale(1.5);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-item:hover .overlay{
  opacity: 1;
}
.overlay-text{
  color: white;
  font-size: 1rem;
 font-weight: bold;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  width: 90%;
  height: 95%;
  position: relative;
}

.modal-content img{
  width: 100%;
  height: auto;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease;
}

.close:hover {
  transform: scale(2);
}
@media (max-width: 500px){
  .image-gallery{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 500px) and (max-width: 800px){
  .image-gallery{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}